.user-card {
    background-color: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .user-card-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    color: #888888;
  }
  
 
  .user-username, .user-email , .user-phone {
    margin-bottom: 4px;
    color: #888888;
  }
  
  
  